<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
    </head>
    <body>
        <ul>
            <li>Hint - Password</li>
            {{range $hint, $password := .}}
            <li>{{$hint}} - {{$password}}</li>
            {{end}}
        </ul>
    </body>
</html>